{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.id ? 'Modifier' : 'Ajouter' }} une commande{% endblock %}

{% block body %}
    <h1>{{ form.vars.value.id ? 'Modifier' : 'Ajouter' }} une commande</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ form.vars.value.id ? 'Enregistrer les modifications' : 'Créer' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_orders_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}